set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling
set history=100000
" Integrate with system clipboard
set clipboard=unnamedplus,unnamed
" select模式下复制
if has("clipboard")
    vnoremap <C-C> "+y
endif

" 映射到idea快捷键
" 弹出输入框，可以跳到指定类
nnoremap <Space>gc :action GotoClass<CR>
" 弹出输入框，跳转到指定操作
nnoremap <Space>ga :action GotoAction<CR>
" 跳转到定义
nnoremap <Space>gd :action GotoDeclaration<CR>
" 跳转到实现
nnoremap <Space>gi :action GotoImplementation<CR>
" 跳转到指定的文件
nnoremap <Space>gf :action GotoFile<CR>
" 跳转到方法的声明
nnoremap <Space>gs :action GotoSuperMethod<CR>
" 跳转到测试
nnoremap <Space>gt :action GotoTest<CR>
" 跳转到变量的声明
nnoremap <Space>gS :action GotoSymbol<CR>


" leader {{{


let mapleader = " "

map <leader>w :action SaveAll<CR>

" AceJump {{
" Press `j` to activate AceJump
 map <Leader>j :action AceAction<CR>
" Press `q` to activate Target Mode
 map <Leader>q :action AceTargetAction<CR>
" Press `g` to activate Line Mode
 map <Leader>g :action AceLineAction<CR>
" }}

" Split window vertically or horizontally *and* switch to the new split!
nnoremap <silent> <leader>hs :split<CR>
nnoremap <silent> <leader>vs :vsplit<CR>

" Close the current window
nnoremap <silent> <m-w> :close<CR>

" }}}
